@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

@media (max-width: 620px){



*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('/src/Imagem/Morse.png');
    overflow-x: hidden;
    overflow-y: hidden; 
   
}



.titulo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 55px;
    text-align: center;
    position:  relative;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    margin:4vh;
}

.tituloSub{
    font-family: 'Abhaya Libre', serif;
    font-size: 15px;
    text-align: center;
    position:  relative;
    top: 265px;
    right: 0;
    bottom: 0;
    left: 0;
    margin:4vh;

}

.voltar{
    position: absolute;
    top: 25px;
    right: 0;
    bottom: 0;
    left: -70px;
    margin:4vh;
    height: 75px;
    width: 150px;

}


.EmoteApaizonado{
    position: absolute;
    top: 100px;
    right: 0;
    bottom: 0;
    left: -160px;
    margin:4vh;
    

}

.start{
    position: absolute;
    top: 500px;
    right: 0;
    bottom: 0;
    left: 80px;
    margin:4vh;
    height: 75px;
    width: 150px;
}


}